html body tbody tr td font[color="#cc1105"],font[color="#117743"] {
  display: none;
}
html body tbody tr td font[color="#789922"] {
  color: red;
}
.posttime {
  display: none;
}
.report {
  display: none;
}
.threadpost {
  margin: 0;
}
img {
  width: 30%; height: 30%;
}
table {
  padding: 0; width: 18em;
}

