/* LICENSE: ISC
 * copyright: hacer contributors
 * Discreption: Default betterquote function generated night vision CSS
 * Edit & Optimize By:
 *             dye E. jarhoo(github.com/doomred),
 * Many Thanks To:
 *             zjworks,
 */

html body tbody tr td font[color="#cc1105"],font[color="#117743"] {
  display: none;
}
html body tbody tr td font[color="#789922"] {
  color: red;
}
.posttime {
  display: none;
}
.report {
  display: none;
}
.threadpost {
  margin: 0;
}
img {
  width: 30%; height: 30%;
}
table {
  padding: 0; width: 18em;
}

body{
  margin: 0;
  background-color: black;
  color:rgb(198,198,198) !important;
}
td{
  z-index: -50; /* make under the img tags */
  background:rgba(50,50,60,0.7) !important;
  padding:9px !important;
  transition:background .1s ease-in-out;
}
td:hover {
  background:rgb(50,50,60) !important;
}
td:active {
  background:rgb(50,50,100) !important;
}
a{
  transition:color .1s ease-in-out;
}
a:link{
  color:rgb(100,100,224) !important
}
a:visited{
  color:rgb(100,100,190) !important
}
a:hover{
  color:lightblue !important
}
img{
  z-index: 50;
  opacity:0.3;
  transition:all .3s ease-in-out;
}
img:hover{
  opacity:0.9;
}
