/* LICENSE: ISC
 * Discreption: This CSS works for 'hacer' as the style for thread image popup 
 *              viewer-->hbox _have_to_ merge into 'hacer' by hands(for now)
 * Edit & Optimize By:
 *             dye E. jarhoo(github.com/doomred)
 * Many Thanks To:
 *              
 */

#thebox {
    display: table-cell;
    vertical-align: middle;
    /* background-image  Been moved to js for display on demond */
    background-position: center;
    background-repeat: no-repeat;
    filter: Alpha(Opacity=100);
    visibility: hidden;
    z-index: 120;  /* above the box-bg */
    margin-left: auto;
    margin-right: auto;
}

#box-bg {
    position: fixed;
    display: table;
    z-index: 110; /* above the nav-bottom */
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

